body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    color: rgb(46, 44, 63);
    background-color: rgb(46, 44, 63);
}

.nav-bar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    padding: 3%;
    list-style-type: none;
    background-color: rgb(46, 44, 63);
    margin: 0;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
    margin-top: 2%;
}

.nav-bar li {
    background-color: rgb(254, 212, 213);
    text-align: center;
    border-radius: 20px;
    color: rgb(46, 44, 63);
    transition: background-color 0.3s;
    font-size: 120%;
    padding: 12%;

}

.nav-bar li.active {
    background-color: rgb(46, 44, 63);
    color: white;
    text-transform: uppercase;
    border: 2px solid rgb(254, 212, 213);
}

.nav-bar a {
    box-sizing: border-box;
    display: block;
    padding: 2% 2%;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
}

.nav-bar li:not(.active) a:hover {
    background-color: rgb(46, 44, 63);
    color: white;
    text-transform: uppercase;
}

.nav-bar a:hover {
    background-color: rgb(46, 44, 63);
    color: white;
    text-transform: uppercase;
}

.skip-link {
    position: absolute;
    top: -40%;
    left: 0;
    background: rgb(46, 44, 63);
    color: rgb(177, 159, 204);
    padding: 5%;
    z-index: 100;
    transition: top 0.3s;
}

.skip-link:focus {
    top: 5%;
}

h1 {
    font-size: 250%;
    text-align: center;
    padding: 3%;
    text-transform: uppercase;
    color: rgb(254, 212, 213);
}

h2 {
    font-size: 180%;
    text-align: center;
    margin-bottom: 3%;
}

h3 {
    font-size: 150%;
    text-align: center;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(46, 44, 63);
    color: rgb(254, 212, 213);
}

h4 {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
}

p {
    font-size: 110%;
    padding: 2%;
}

.petscategory {
    min-height: 125%;
    padding: 5%;
    border-radius: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(254, 212, 213);
}

.petscategory img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px dashed rgb(46, 44, 63);
}

.grid-petsphoto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.grid-petsphoto img {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 90%;
    border: none;
}

.grid-petslikes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    text-align: center;
}

.grid-recipeingredients ul {
    list-style-type: none;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    text-align: center;
    border: 1px solid rgb(46, 44, 63);
}

.grid-recipeingredients li {
    display: grid;
    gap: 0;
    text-align: center;
    border: 1px solid rgb(46, 44, 63);
    place-items: center;
}

.grid-recipephoto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.grid-recipephoto img {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 90%;
    border: none;
}